* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    margin: 150px auto;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    font-size: 32px; /* Enlarge the font size */
    text-align: center; /* Center the text horizontally */
}


/* Add styles for the winner display and selection buttons */
.winner-display {
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    display: none;
}

.selection {
    text-align: center;
    margin-top: 20px;
}

.selection h2 {
    font-size: 18px;
}

.selection button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
}

.selection button:hover {
    background-color: #2980b9;
}

/* Add styles for the options */
.options {
    text-align: center;
    margin-top: 20px;
}

.options button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
}

.options button:hover {
    background-color: #2980b9;
}

/* Center-align the "Restart Game" button */
#restartGame {
    display: block;
    margin: 20px auto;
}

